.confirmCheckout input {  
    
    transition: .1s;
    width: 200px;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      /* #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%, */
      #6f42c1 0%,
      #6f42c1 50%,
      #6610f2 75%
      
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.confirmCheckout input:hover {  
    
    width: 220px;
    transition: .1s;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      /* #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%, */
      #6f42c1 0%,
      #6f42c1 50%,
      #6610f2 75%
      
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

